
<!-- /.col-lg-6 -->
<div class="col-md-6 col-md-offset-3">
      <div ng-messages="nameInput.employeeName.$error">
        <div ng-messages-include="app/components/list/error-messages.html"></div>
      </div>
  <form name="nameInput">
    <div class="form-group">
      <input  type="text"
              name="employeeName"
              ng-model="vm.memberName"
              placeholder="Add a team member..."
              ng-pattern="vm.onlyLetters"
              ng-minlength="5"
              required />
      <span class="input-group-btn">
          <div class="pull-right">
            <button class="btn btn-default"
                    type="submit"
                    ng-click="vm.addMember()"
                    ng-disabled="!nameInput.$valid">Add</button>
          </div>
      </span>
    </div>
  </form>
</div>
    <ul class="members" ng-repeat="member in vm.members">
    {{member}}
  </ul>