

.btn-info {
  color: #fff;
  background-color: #808080;
  border-color: #BFBFBF;
}

.btn-info:hover, .btn-info:focus {
  background-color: #f54997;
}

.btn-danger:hover, .btn-info:focus {
  color: grey;
  background-color: #DFFF00;
}
.btn-danger {
  background-color: #333333;
  border-color: #BFBFBF;
}

h5 {
  color: #f54997;
}

