

<div class="col-md-6 col-md-offset-3">
  <div class="form-group">
    <form name="nameInput" ng-submit="vm.addMember()" novalidate>

      <div class="form-group">
        <input  class="form-control"
                name="name"
                ng-model="vm.memberName"
                placeholder="Insert name.."
                ng-model-options="{ updateOn: 'default blur', debounce: { default: 450, blur: 0 } }"
                ng-pattern="/^[A-z]+$/"
                ng-maxlength="10"
                username
                required>
      </div>
      <div class="alert alert-danger required" ng-show="nameInput.name.$error.required && nameInput.name.$dirty">Please enter a developer's name..
      </div>
       <div class="alert alert-danger" ng-show="nameInput.name.$error.pattern">Input can't be a number!
      </div>

       <div class="alert alert-info" ng-show="nameInput.name.$pending.username">Checking if this name is available...
      </div>

      <div class="alert alert-danger" ng-show="nameInput.name.$error.username">This developer has already been added to the list!
      </div>

      <div class="alert alert-danger" ng-show="nameInput.name.$error.maxlength">This name is too long!
      </div>

      <button type="submit" class="btn btn-default pull-right" ng-disabled="!nameInput.$valid">
        Save
      </button>
    </form>
  </div>

  <ul class="members" ng-repeat="member in vm.members">
      {{member}}
  </ul>
</div>
