.my-navbar-text{
  color: #a4a4a4;
}

.navbar-inverse .navbar-nav > li > a {
  color: grey;
}

.navbar-inverse .navbar-brand {
  color: grey;
}


.navbar-inverse {
  background-color: #191919;
}

.navbar-inverse {
  color: #191919;
  border-bottom: 1px solid #ccc;
}
