
<!-- name input form -->
<div class="col-md-4 col-md-offset-4">
  <div class="form-group">
    <label>Insert name</label>
    <form name="nameInput" ng-submit="vm.addMember()" novalidate>

      <div class="form-group">
        <input  class="form-control"
                name="name"
                ng-model="vm.memberName"
                placeholder="Insert name.."
                ng-model-options="{ updateOn: 'default blur', debounce: { default: 450, blur: 0 } }"
                ng-pattern="/^[A-z]+$/"
                ng-maxlength="10"
                username
                required>
      </div>
      <button type="submit" class="btn btn-default pull-right" ng-disabled="!nameInput.$valid">
        Save
      </button>
    </form>
  </div>
  <!-- validation errors  -->
  <div class="col-md-10">
    <div class="alert alert-danger required" ng-show="nameInput.name.$error.required && nameInput.name.$touched">Please enter a developer's name..
      </div>
       <div class="alert alert-danger" ng-show="nameInput.name.$error.pattern">Input can't be a number!
      </div>

       <div class="alert alert-info" ng-show="nameInput.name.$pending.username">Checking if this name is available...
      </div>

      <div class="alert alert-danger" ng-show="nameInput.name.$error.username">This developer has already been added to the list!
      </div>

      <div class="alert alert-danger" ng-show="nameInput.name.$error.maxlength">This name is too long!
      </div>
    </div>
</div>
<!-- developers list -->
<div class="col-md-4 col-md-offset-4" ng-if="vm.members.length != 0">
  <h5>Developers</h5>
  <div class="panel panel-default">
    <table class="table table-bordered ">
      <tr ng-repeat="member in vm.members">
          <td>{{member}}</td>
      </tr>
    </table>
  </div>
</div>
<!-- pairs list -->
<div ng-show="vm.members.length > 2">
  <pair-devs list="vm.members"></pair-devs>
</div>
