.alert {
  padding: 5px;
}

.col-md-10 {
  padding-left: 0px;
  padding-right: 10px;
}

.col-md-4 {
  border: 5px;
}


h5, label {
  color: #f54997;
}

.table-bordered {
  background-color: white;
}

